In [7]:
import os 
import tensorflow as tf
import numpy as np
import pandas as pd
os.environ['LD_LIBRARY_PATH'] = os.getcwd()

In [10]:
dataset = pd.read_csv('provided_dataset.csv')
dataset

   age  plan value
0   18         871
1   23        1132
2   28        1042
3   33        1356
4   38        1488
5   43        1638
6   48        1569
7   53        1754
8   58        1866
9   63        1900